.adv-container {
  width: 100%;
  background-color: var(--how-made);
  padding: 20px;
  margin: 0 auto;
}

.adv-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.adv-thumb {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--advantages-text);
  border-radius: 50%;
}

.adv-icon {
  fill: var(--buy-now);
}

.adv-third-title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--button-text);
  margin-top: 22px;
  margin-bottom: 18px;
}

.adv-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: -0.02em;
  color: var(--advantages-text);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .adv-container {
    width: 375px;
  }

  .adv-container .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adv-container {
    width: 768px;
  }

  .adv-container .container {
    width: 768px;
  }

  .adv-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 40px;
  }

  .adv-item {
    width: 308px;
  }
}

@media screen and (min-width: 1200px) {
  .adv-container {
    min-width: 1176px;
  }

  .adv-container .container {
    min-width: 1176px;
  }

  .adv-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 88px;
  }

  .adv-item {
    width: 326px;
    height: 244px;
    position: relative;
  }

  .adv-item:not(:first-child)::before {
    content: '';
    display: block;
    width: 124px;
    height: 0px;
    border: 1px solid var(--border);
    transform: rotate(90deg);
    transform-origin: left;
    position: absolute;
    top: 60px;
    left: -70px;
  }
}
