footer {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.footer > .container {
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 375px;
  background-color: #1e1823;
}

.name {
  color: #fd9222;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.main-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.main-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.icon {
  fill: white;
}

.icon:is(:hover, :focus) {
  fill: var(--buy-now);
}

.icon:not(:last-child) {
  display: flex;
  align-items: flex-end;
  margin-right: 18px;
}

.icons {
  display: flex;
  margin-left: auto;
}

.nav-footer {
  display: flex;
}

.contact-us {
  margin-bottom: 32px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: start;
}

.footer-bottom {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.nav-list {
  margin-right: 24px;
}

.contacts-link-mail,
.phone-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  padding-top: 4px;
}

.logo-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
  margin-bottom: 32px;
}

.logo-text span {
  display: inline;
}

@media screen and (min-width: 768px) {
  .footer > .container {
    max-width: 744px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .contacts {
    gap: 52px;
  }

  .nav-footer {
    flex-direction: row;
    gap: 24px;
  }
  .logo-text {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer > .container {
    max-width: 1176px;
  }

  .contacts {
    gap: 65px;
  }

  .main-footer {
    padding-bottom: 62px;
  }
}
