.header {
  width: 100%;
  height: 80px;
  background-color: var(--button-background);
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  /* flex-direction: column; */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: -0.02em;
}

.nav-list {
  margin-right: 24px;
}

.name {
  display: flex;
  flex-wrap: nowrap;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;

  letter-spacing: -0.03em;
}

.simply {
  font-family: 'Montserrat';
font-style: italic;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: -0.03em;
}
.chocolate {
  display: flex;
  margin-left: 24px;

  stroke: rgba(253, 146, 34, 1);
  fill: var(--button-text);
  stroke-width: 2px;
}

.svg-icon:not(:last-child) {
  margin-right: 18px;
}

.twitter {
  color: #000000;
}

.networks {
  display: flex;
}

.logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  
  letter-spacing: -0.03em;
  
  color: #111111;
}

.simple {
  display: flex;
}

.site-nav,
.networks {
  display: none;
}

.menu-close-icon {
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 375px) {
  .header.container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .header.container {
    max-width: 744px;
  }
}

@media screen and (min-width: 1200px) {
  .header.container {
    max-width: 1176px;
  }
  .site-nav,
  .networks {
    display: flex;
  }

  .mob-menu-btn {
    display: none;
  }
}

.menu-burger {
  background-color: var(--button-text);
}

.menu-icon {
  stroke: var(--elipse-b);
  fill: var(--button-text);
  stroke-width: 2.5px;
}

/* mobile menu */

.mobile-menu.is-open {
  display: block;
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 220px;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  background-color: var(--how-made);
  padding-top: 136px;
}

.mobile-menu > .container {
  height: 100%;
}

.mobile-menu-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-close-btn {
  margin-left: auto;
  padding: 0;
  position: absolute;
  top: 28px;
  right: 28px;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: none;
  transition: fill 250ms var(--cubic-bezier);
}

.menu-close-btn:is(:hover, :focus) {
  fill: var(--buy-now);
}
.menu-close-icon {
  fill: rgba(255, 255, 255, 1);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--button-text);
  width: 124px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: -0.02em;
  color: var(--button-text);
  transition: fill 250ms var(--cubic-bezier);
}

.mobile-menu-link:is(:hover, :focus) {
  color: var(--buy-now);
}

.mobile-soc-list {
  display: flex;
  gap: 20px;
  margin-top: auto;
  position: absolute;
  bottom: 22px;
  left: 22px;
}

.mobile-soc-item {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.mobile-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--button-text);
  transition: fill 250ms var(--cubic-bezier);
}

.mobile-soc-link:is(:hover, :focus) {
  color: var(--buy-now);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-soc-icon {
  fill: currentColor;
}

.mobile-soc-icon.insta {
  width: 18px;
  height: 18px;
}

.mobile-soc-icon.twit {
  width: 18px;
  height: 15px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 290px;
    padding-top: 156px;
  }

  .menu-close-btn {
    margin-left: auto;
    padding: 0;
    position: absolute;
    top: 33px;
    right: 41px;
  }

  .mobile-soc-icon.insta {
    width: 20px;
    height: 20px;
  }

  .mobile-soc-icon.twit {
    width: 20px;
    height: 18px;
  }

  .menu-close-icon {
    width: 14px;
    height: 14px;
  }
}
