.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(-backdrop);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 516px;
    min-height: 414px;
    background-image: url(/src/img/ezgif-1-2d3a67b880\ 1.png);
    background-color: var(--buy-now);
    border-radius: 15px;
  }
  
  .icon-close {
    fill: rgba(241, 101, 41, 1);
  }
  .modal-close {
    width: 40px;
    height: 40px;
  
    border-radius: 50%;
    border: rgba(252, 241, 224, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 24px;
    margin-top: 24px;
  }
  
  .modal-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  
    letter-spacing: -0.02em;
  
    color: #ffffff;
  
    padding-top: 154px;
    padding-left: 150px;
    padding-bottom: 154px;
  }
  
  .thank {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  
    letter-spacing: -0.02em;
    text-transform: uppercase;
  
    color: #fcf1e0;
  }
  
  .media {
    display: flex;
  }
  .view {
    width: 33%;
    padding: 10px;
  }
  .view img,
  .popup img {
    max-width: 100%;
  }

  .modal-image {
    position: absolute;
width: 384px;
height: 362px;
left: 0px;
top: 110px;

background: url(ezgif-1-2d3a67b880.png);
transform: rotate(0deg);
  }