<section class="hero-section">
    <div class="container"> 
        <h2 class="titel-hero">Treat yourself or a loved one
        to our finest ingredients for a moment of pure delight!</h2>
   <div class="hero-allbutton">
    <div class="button-group"><button type="button" class="hero-button">Buy now</button>
    <a href="#howitsmade" class="hero-button none">How it’s made</use>
        </svg></a>
</div>
<div class="scroll-group">
    <p class="scroll-hero">scroll down</p>
    <a href="#footer" class="scroll-button"><svg class="scroll-menu">
    <use href="./img/icons.svg#icon-ptichka" width="12px"></use>
</svg></a>
    
</div> </div>
</div>
</section>