<section class="how-made section" id="howitsmade">
  <div class="container">
    <h2 class="how-made-title">How it's <span>made?</span></h2>
    <div class="how-made-wrap">
      <div class="how-made-video-wrap box">
        <div class="how-made-poster box">
          <picture>
            <source srcset="./img/image.jpg" media="(min-width: 1200px)" />
            <source srcset="./img/image-t.jpg" media="(min-width: 768px)" />
            <source srcset="./img/image-m.jpg" media="(max-width: 767px)" />
            <img src="./img/image-m.jpg" alt="Chocolate in the bowl" />
          </picture>
        </div>
        <iframe
          class="how-made-video box"
          src="https://www.youtube.com/embed/41UbWmXKWkc?autoplay=0&controls=0&modestbranding=1&rel=0"
          name="iframe-a"
          frameborder="0"
          allow="accelerometer; autoplay;
          clipboard-write; encrypted-media; gyroscope; picture-in-picture;
          web-share"
          allowfullscreen
          >How Ukrainian handmade chocolate is made
        </iframe>
        <!--<a
          class="how-made-video-link"
          target="iframe-a"
          href="https://www.youtube.com/embed/41UbWmXKWkc?autoplay=1&controls=0&modestbranding=1&rel=0"
          title="How Ukrainian handmade chocolate is made"
        >
          <svg class="how-made-icon">
            <use href="./img/icons.svg#icon-play"></use>
          </svg> 
        </a>-->
      </div>
      <div class="how-made-recipe-wrap box">
        <h3 class="how-made-recipe-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-made-list">
          <li class="how-made-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-made-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-made-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-made-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-made-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
        <!-- Button for Explore-Pop-Up -->
        <!-- <button style="margin-top: 20px" type="submit" data-modal-open>
          Subscribe
        </button> -->
        <!--  -->
      </div>
    </div>
  </div>
</section>
