<section class="products section" id="our-products">
  <div class="container">
    <h2 class="products-title">Our <span>products</span></h2>
    <div class="products-responsive">
      <div class="product-slide">
        <div class="product-item">
          <img
            srcset="./img/image-11-t.jpg 1x, ./img/image-11-2x.jpg 2x"
            src="./img/image-11-t.jpg"
            alt="Photo of chocolate"
            class="product-pic"
          />
          <div class="product-content">
            <h3 class="product-name">Orange</h3>
            <p class="product-text">Dark chocolate</p>
            <div class="product-price-wrap">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
      </div>

      <div class="product-slide">
        <div class="product-item">
          <img
            srcset="./img/image-8-.jpg 1x, ./img/image-8-2x.jpg 2x"
            src="./img/image-8-.jpg"
            alt="Photo of chocolate"
            class="product-pic"
          />
          <div class="product-content">
            <h3 class="product-name">Apple&#38;Cranberry</h3>
            <p class="product-text">Milk chocolate</p>
            <div class="product-price-wrap">
              <p class="product-price">50 UAH</p>
            </div>
          </div>
        </div>
      </div>

      <div class="product-slide">
        <div class="product-item">
          <img
            srcset="./img/image-9.jpg 1x, ./img/image-9-2x.jpg 2x"
            src="./img/image-9.jpg"
            alt="Photo of chocolate"
            class="product-pic"
          />
          <div class="product-content">
            <h3 class="product-name">Lime&#38;sea salt</h3>
            <p class="product-text">Dark chocolate</p>
            <div class="product-price-wrap">
              <p class="product-price">66 UAH</p>
            </div>
          </div>
        </div>
      </div>

      <div class="product-slide">
        <div class="product-item">
          <img
            srcset="./img/image-10-1-t.jpg 1x, ./img/image-10-2x.jpg 2x"
            src="./img/image-10-1-t.jpg"
            alt="Photo of chocolate"
            class="product-pic"
          />
          <div class="product-content">
            <h3 class="product-name">Pineapple</h3>
            <p class="product-text">Dark chocolate</p>
            <div class="product-price-wrap">
              <p class="product-price">54 UAH</p>
            </div>
          </div>
        </div>
      </div>

      <div class="product-slide">
        <div class="product-item">
          <img
            srcset="./img/image-12.jpg 1x, ./img/image-12-2x.jpg 2x"
            src="./img/image-12.jpg"
            alt="Photo of chocolate"
            class="product-pic"
          />
          <div class="product-content">
            <h3 class="product-name">Classic</h3>
            <p class="product-text">Milk chocolate</p>
            <div class="product-price-wrap">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
      </div>

      <div class="product-slide">
        <div class="product-item">
          <img
            srcset="./img/image-8-1-t.jpg 1x, ./img/image-82x.jpg 2x"
            src="./img/image-8-1-t.jpg"
            alt="Photo of chocolate"
            class="product-pic"
          />
          <div class="product-content">
            <h3 class="product-name">Honey</h3>
            <p class="product-text">Milk chocolate</p>
            <div class="product-price-wrap">
              <p class="product-price">50 UAH</p>
            </div>
          </div>
        </div>
      </div>

      <div class="product-slide">
        <div class="product-item">
          <img
            srcset="./img/image-9-1-t.jpg 1x, ./img/image-92x.jpg 2x"
            src="./img/image-9-1-t.jpg"
            alt="Photo of chocolate"
            class="product-pic"
          />
          <div class="product-content">
            <h3 class="product-name">Roasted fruits</h3>
            <p class="product-text">Dark chocolate</p>
            <div class="product-price-wrap">
              <p class="product-price">66 UAH</p>
            </div>
          </div>
        </div>
      </div>

      <div class="product-slide">
        <div class="product-item">
          <img
            srcset="./img/image-10-t.jpg 1x, ./img/image-102x.jpg 2x"
            src="./img/image-10-t.jpg"
            alt="Photo of chocolate"
            class="product-pic"
          />
          <div class="product-content">
            <h3 class="product-name">Classic</h3>
            <p class="product-text">White chocolate</p>
            <div class="product-price-wrap">
              <p class="product-price">54 UAH</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
