<section class="reviews-section section" id="reviews">
  <div class="container">
    <h2 class="reviews-title"><span>chocolate</span> is loved</h2>
    <div class="review-responsive">
      <div class="review-slide">
        <div class="review-card">
          <p class="review-author">Victoria Dobrzhanska</p>
          <p class="review-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
          <img
            src="./img/victoria.png"
            class="review-img"
            alt="Author of review photo"
          />
        </div>
      </div>

      <div class="review-slide">
        <div class="review-card">
          <p class="review-author">Nazar Babenko</p>
          <p class="review-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
          <img
            src="./img/nazar.png"
            class="review-img"
            alt="Author of review photo"
          />
        </div>
      </div>

      <div class="review-slide">
        <div class="review-card">
          <p class="review-author">Olena Kampusch</p>
          <p class="review-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
          <img
            src="./img/olena.png"
            class="review-img"
            alt="Author of review photo"
          />
        </div>
      </div>

      <div class="review-slide">
        <div class="review-card">
          <p class="review-author">Natalia Sus</p>
          <p class="review-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
          <img
            src="./img/natalia.png"
            class="review-img"
            alt="Author of review photo"
          />
        </div>
      </div>

      <div class="review-slide">
        <div class="review-card">
          <p class="review-author">Danilo Nottingham</p>
          <p class="review-text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
          <img
            src="./img/danilo.png"
            class="review-img"
            alt="Author of review photo"
          />
        </div>
      </div>

      <div class="review-slide">
        <div class="review-card">
          <p class="review-author">Irina Tydnyuk</p>
          <p class="review-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
          <img
            src="./img/irina.png"
            class="review-img"
            alt="Author of review photo"
          />
        </div>
      </div>
    </div>
    <button type="submit " class="review-btn" data-reweu-open>
      Leave a review
    </button>
  </div>
</section>
